<!-- <div class="sidenav-container"> -->
<div class="sidenav-container">
  <div class="sidenav">
    <img
      class="avatar mat-elevation-z8"
      src="https://imglarger.com/Images/before-after/ai-image-enlarger-1-after-2.jpg"
    />

    <h4 class="name">John Smith</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/Dashboard" >
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLink="/Products">
      <mat-icon>shopping_cart</mat-icon>
      <span>Products</span>
    </button>
    <button mat-button class="menu-button" routerLink="/Profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button" routerLink="/About">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/Help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </div>
</div>

<!-- </div> -->
